build/Win/
build/bin/
build/CMakeFiles/
build/Testing/

build/*.txt
build/*.json
build/*.cmake

!build/CMakeLists.txt
!build/*.bat
.cmake/
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeSettings.json

Debug/
Release/
x64/
x86/

*.pch
*.obj
*.o
*.tlog
*.pdb
*.dll
*.exe
bin/

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db
*.log
*.tmp

*.vcxproj
*.vcxproj.filters
*.sln